{% extends 'members/base.html' %}

{% block content %}

  <div class="container">
    <div class="pagination_top" style="background-color: #cde;">
        <span class="step-links" id="step_links_top">
            {% if members.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ members.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ members.number }} of {{ members.paginator.num_pages }}.
            </span>

            {% if members.has_next %}
                <a href="?page={{ members.next_page_number }}">next</a>
                <a href="?page={{ members.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% for %}

    {% endfor %}
    {% for member in members %}
        <div class="tile">
          {% url 'members_app:needs_review' as needs_review_url %}
          {% if request.path == needs_review_url %}
          <div class="needs_review"><b>Needs Review</b>:<br><i>{{member.reason_for_review|title}}</i>
            <!-- <div class="edit_link"><a href="/members/edit_member_info/{{member.id}}/">Edit</a></div> -->
            <div class="edit_link"><a href="{% url 'members_app:edit_member_info' member.id %}">Edit</a></div>
          </div>
          {% endif %}
          <div class="col_ro">
            <div class="row">
              <span class="names_title">
                {{member.first_name}}{{member.person1.first_name}} {{member.last_name}}{{member.person1.last_name}}{% if member.person1.byline %}<span class="byline">, {{member.person1.byline}}</span>{% endif %}
            </div>
            {% if view == 'list_active_members' or view == 'list_inactive_members' %}
              <div class="row">
                <span class="names_title">{{member.person1.partner.first_name}} {{member.person1.partner.last_name}}
                  <!-- {% if member.person.partner.byline %} -->
                  <div class="byline">{{member.person1.partner.byline}}</div>
                  <!-- {% endif %} -->
                </span>
              </div>
            {% endif %}
            <div class="row">
              {% if view == 'list_active_members' or view == 'list_inactive_members' or view == 'list_all_people' %}
                <div class="">{{member.address.address_1}}</div>
                <div class="">{{member.address.address_2}}</div>
                <div class="">{{member.address.city}}, {{member.address.state}} {{member.address.postal_code}}</div>
              {% elif view == 'list_board' %}
                <div class="">{{member.person1.address.address_1}}</div>
                <div class="">{{member.person1.address.address_2}}</div>
                <div class="">{{member.person1.address.city}}, {{member.person1.address.state}} {{member.person1.address.postal_code}}</div>
              {% endif %}
            </div>
            <div class="row">
              <div class="">{{member.email}}{{member.person1.email}}</div>
              <div class="">{% if view == 'list_active_members' %}{{member.person1.partner.email}}{% endif %}</div>
            </div>
          </div>
          <div class="col_ro">
            <div class="row">
              <div class="">{{member.phone_number}}{{member.person1.phone_number}}</div>
              <div class="">{% if view == 'list_active_members' %}{{member.person1.partner.phone_number}}{% endif %}</div>
              <div>{% if member.title != 'Committee' %}{{member.title}}{% endif %}</div>
              <div>{% if member.committees|length > 0 %}{% if member.committees|length == 1 %}Committee:{% else %}Committees:{% endif %}{% endif %} {{member.committees}}</div>
            </div>
          </div>
          {% url 'members_app:needs_review' as needs_review_url %}
          {% if request.path != needs_review_url %}
          <span><a href="{% url 'members_app:edit_member_info' member.id %}">edit</a></span>
          {% endif %}
        </div>
    {% endfor %}
    <div class="pagination_bottom">
        <span class="step-links" id="step_links_bottom">
            {% if members.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ members.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ members.number }} of {{ members.paginator.num_pages }}.
            </span>

            {% if members.has_next %}
                <a href="?page={{ members.next_page_number }}">next</a>
                <a href="?page={{ members.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
  </div>

  <script type="text/javascript">
  {% if view == 'search_page' %}
      document.getElementById("step_links_top").innerHTML = "Search Results for: <i><code>{{querystring}}</code></i>"
      document.getElementById("step_links_bottom").innerHTML = "";
      console.log('{{match}}')
  {% elif view == 'show_person_info_page' %}
        {% if message == "changes_saved" %}
          document.getElementById("step_links_top").innerHTML = "Changes Saved"
        {% else %}
          document.getElementById("step_links_top").innerHTML = "Member Details"
        {% endif %}
        document.getElementById("step_links_bottom").innerHTML = "";
    {% endif %}
  </script>

{% endblock %}
