{% extends 'members/base.html' %}

{% block content %}

  <div class="container">
    <div id="edit_member_header">
        <span class="step-links" id="step_links_top">
          <h4>Edit Membership Information</h4>
        </span>
    </div>
      {% if perms.members.change_membership %}
        <form id="edit_member_form" action="{% url 'members_app:save_member' %}" method="post">
      {% else %}
        <form>
      {% endif %}
        <div class="edit_form_align">
            {% csrf_token %}
          <div class="col_edit">
            <div class="row">
              <div class="member_detail_section">
                <div class=""><b>Member{% if member.person2 %}s{%endif%}</b> <a href="{% url 'members_app:edit_person' member.person1.id %}" class="edit_link">(edit)</a>:</div>
                <div class="member_names">{{member.person1.first_name}} {{member.person1.last_name}}{% if member.person2 %} and {{member.person2.first_name}} {{member.person2.last_name}}{% endif %}</div>
              </div>
            </div><!-- end of 'row' -->
            <div class="row">
              <div class="member_detail_section" id="member_detail_section">
                <div class="member_detail_mailing_address" id="member_detail_mailing_address">
                  <b>Mailing Address</b> <a href="#" id="edit_address_link" class="edit_link">(edit)</a>:
                    <div id="address_fields">
                      <div class="">{{member.address.address_1}}</div>
                      <div class="">{{member.address.address_2}}</div>
                      <div class="">{{member.address.city}}, {{member.address.state}} {{member.address.postal_code}}</div>
                    </div>
                </div>
              </div>
            </div><!-- end of 'row' -->
          </div><!-- end of 'col_ro' -->
          <div class="col_rw">
            <div class="row">
              <div class="form_fields">
                <label for="level">Level:</label>
                <select name="level" id="level">
                  <option value="Supporter"{% if member.level == 'Supporter' %} selected{%endif%}>Supporter</option>
                  <option value="Contributor"{% if member.level == 'Contributor' %} selected{%endif%}>Contributor</option>
                  <option value="Adovcate"{% if member.level == 'Advocate' %} selected{%endif%}>Advocate</option>
                  <option value="Honorary"{% if member.level == 'Honorary' %} selected{%endif%}>Honorary</option>
                  <option value="PAM Staff"{% if member.level == 'PAM Staff' %} selected{%endif%}>PAM Staff</option>
                  <option></option>
                </select>
              </div>
              <div class="form_fields">
                <label for="expiration">Expiration:</label>
                <input type="date" id="expiration" name="expiration" value="{{member.expiration|date:'Y-m-d'}}">
              </div>
              <div class="form_fields">
                <label for="status">Status:</label>
                <select name="status" required id="status">
                  <option value="Active"{% if member.status == 'Active' %} selected{%endif%}>Active</option>
                  <option value="Inactive"{% if member.status == 'Inactive' %} selected{%endif%}>Inactive</option>
                </select>
              </div>
              <div class="form_fields">
                <label for="notes">Notes:</label>
                <input type="text" id="notes" name="notes" value="{{member.notes}}">
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form_fields submit_btn">
          <button type="submit" class="btn btn-secondary" id="save_changes_btn"><b>Save Changes</b></button>&nbsp;&nbsp;&nbsp;
          <a href="{% if querystring == 'person' %}{% url 'members_app:show_person' member.person1.id %}{% elif querystring == 'member' %}{% url 'members_app:show_member' member.id %}{%else%}{% url 'members_app:list_active' %}{%endif%}">cancel</a>
        </div>
        <input type="hidden" id="memberid" name="memberid" value="{{member.id}}">
        <input type="hidden" id="address" name="address" value="{{member.address.id}}">
        <input type="hidden" id="person1" name="person1" value="{{member.person1.id}}">
        <input type="hidden" id="person2" name="person2" value="{{member.person2.id}}">
      </form>
  </div> <!-- end of 'container' -->

  <script type="text/javascript">
    let edit_address_link = document.querySelector('#edit_address_link');
    let show_edit_address = document.querySelector('#show_edit_address');
    edit_address_link.onclick = function() {
      $('#show_edit_address').click();
    }

    {% if not perms.members.change_membership %}
      let save_changes_btn = document.querySelector('#save_changes_btn');
      save_changes_btn.onclick = function(e) {
        e.preventDefault()
        alert("This is a demo only. This account cannot make changes.");
      }
    {% endif %}
  </script>

{% endblock %}
