{% extends 'members/base.html' %}

{% block content %}

  <div class="container">
    <div class="edit_page_heading"><h3>Edit Membership Information</h3></div>
      <form id="edit_member_form" action="{% url 'members_app:save_member' %}" method="post">
        <div class="tile edit_form_align">
            {% csrf_token %}
          <div class="col_ro">
            <div class="row">
              <div class="member_detail_section">
                <div class=""><b>Member{% if member.person2 %}s{%endif%}</b> <a href="{% url 'members_app:edit_person' member.person1.id %}?from=edit_member" class="edit_link">(edit)</a>:</div>
                <div class="member_names">{{member.person1.first_name}} {{member.person1.last_name}}{% if member.person2 %} and {{member.person2.first_name}} {{member.person2.last_name}}{% endif %}</div>
              </div>
            </div><!-- end of 'row' -->
            <div class="row">
              <div class="member_detail_section" id="member_detail_section">
                <div class="member_detail_mailing_address" id="member_detail_mailing_address">
                  <b>Mailing Address</b> <a href="#" id="edit_address_link" class="edit_link">(edit)</a>:
                    <div class="">{{member.address.address_1}}</div>
                    <div class="">{{member.address.address_2}}</div>
                    <div class="">{{member.address.city}}, {{member.address.state}} {{member.address.postal_code}}</div>
                </div>
              </div>
            </div><!-- end of 'row' -->
          </div><!-- end of 'col_ro' -->
          <div class="col_rw">
            <div class="row">
              <div class="form_fields">
                <label for="level">Level:</label>
                <!-- <input type="text" id="level" name="level" value="{{member.level}}"> -->
                <select name="level" id="level">
                  <option value="Supporter"{% if member.level == 'Supporter' %} selected{%endif%}>Supporter</option>
                  <option value="Contributor"{% if member.level == 'Contributor' %} selected{%endif%}>Contributor</option>
                  <option value="Adovcate"{% if member.level == 'Adovcate' %} selected{%endif%}>Adovcate</option>
                  <option value="Honorary"{% if member.level == 'Honorary' %} selected{%endif%}>Honorary</option>
                  <option value="PAM Staff"{% if member.level == 'PAM Staff' %} selected{%endif%}>PAM Staff</option>
                  <option></option>
                </select>
              </div>
              <div class="form_fields">
                <label for="expiration">Expiration:</label>
                <input type="date" id="expiration" name="expiration" value="{{member.expiration|date:'Y-m-d'}}">
              </div>
              <div class="form_fields">
                <label for="status">Status:</label>
                <select name="status" required id="status">
                  <option value="Active"{% if member.status == 'Active' %} selected{%endif%}>Active</option>
                  <option value="Inactive"{% if member.status == 'Inactive' %} selected{%endif%}>Inactive</option>
                </select>
              </div>
              <div class="form_fields">
                <label for="notes">Notes:</label>
                <input type="text" id="notes" name="notes" value="{{member.address.notes}}">
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form_fields submit_btn">
          <button type="submit" class="btn btn-secondary" id="save_changes_btn"><b>Save Changes</b></button>&nbsp;&nbsp;&nbsp;
          <a href="{% if querystring == 'person' %}{% url 'members_app:show_person' member.person1.id %}{% elif querystring == 'member' %}{% url 'members_app:show_member' member.id %}{%else%}{% url 'members_app:list_active' %}{%endif%}">cancel</a>
        </div>
        <input type="hidden" id="member_id" name="member_id" value="{{member.id}}">
      </form>
  </div> <!-- end of 'container' -->

  <!-- Button trigger modal -->
  <button style="display: none" id="show_edit_address" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editAddressModal"></button>

  <!-- Modal -->
  <div class="modal fade" id="editAddressModal" tabindex="-1" role="dialog" aria-labelledby="editAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editAddressModal">Edit Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="post" name="address_form" id="address_form">
          <input type="hidden" name="address_id" id="address_id" value="{{address_id}}">
          <input type="hidden" name="member_id" id="member_id" value="{{member.id}}">
            <div class="modal-body">
                <!-- {% csrf_token %} -->
                <table>
                    {{ form.as_table }}
                </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" id="address_submit_btn" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    let edit_address_link = document.querySelector('#edit_address_link');
    let show_edit_address = document.querySelector('#show_edit_address');
    edit_address_link.onclick = function() {
      $('#show_edit_address').click();
      // alert('clicked!')
    }

    //
    // Known issue: The Edit link for Mailing Address only works the first time.
    // After submitting the Edit Address form, the (edit) link stops working.
    //

    function AjaxFormSubmit() {
      var address_form = document.querySelector('#address_form');
      var data = new FormData(address_form);
      var refresh_url = window.location;
      data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      data.append('refresh_url', refresh_url);
      $.ajax({
          url: '/members/save_address/',
          type: "POST",
          data: data,
          cache: false,
          processData: false,
          contentType: false,
      // }
          // ).done(function(returned_data){
          //
          //     // This is the ajax.done() method, where you can fire events after the ajax method is complete
          //     $('#show_edit_address').click();
          //     // For instance, you could hide/display your add/remove button here
          //
          // });
          success : function(json) {
              // $('#post-text').val(''); // remove the value from the input
              $('#show_edit_address').click();
              $('#member_detail_section').load(location.href = '  #member_detail_mailing_address');
              console.log("success: address saved"); // another sanity check
          },

          // handle a non-successful response
          error : function(xhr,errmsg,err) {
              // $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                  // " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
              $('#show_edit_address').click();
              console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      });
    };
    let address_submit_btn = document.querySelector('#address_submit_btn');
    address_submit_btn.onclick = AjaxFormSubmit;
  </script>

{% endblock %}
