{% extends 'members/base.html' %}

{% block content %}

  <div class="container">
    <div class="edit_page_heading"><h3>Edit Person Information</h3></div>
    <form id="edit_member_form" action="{% url 'members_app:save_member' %}" method="post">
      <div class="tile edit_form_align">
          {% csrf_token %}
        <div class="col_rw">
          <div class="row">
            <div class="form_fields">
              <label for="first_name">First Name*:</label>
              <input type="text" id="first_name" name="first_name" value="{{person.first_name}}" required>
            </div>
            <div class="form_fields">
              <label for="last_name">Last Name*:</label>
              <input type="text" id="last_name" name="last_name" value="{{person.last_name}}" required>
            </div>
            <div class="form_fields">
              <label for="byline">Byline:</label>
              <input type="text" id="byline" name="byline" value="{{person.byline}}">
            </div>
            <div class="form_fields">
              <label for="nickname">Nickname:</label>
              <input type="text" id="nickname" name="nickname" value="{{person.nickname}}">
            </div>
            <div class="form_fields">
              <label for="phone_number1">Phone:</label>
              <input type="text" id="phone_number" name="phone_number" value="{{person.phone_number}}">
            </div>
            <div class="form_fields">
              <label for="email1">Email:</label>
              <input type="text" id="email" name="email" value="{{person.email}}">
            </div>
          </div><!-- end of 'row' -->
        </div><!-- end of 'col_rw' -->
        <div class="col_rw">
          <div class="row">
            <div class="form_fields">
              <label for="partner">Partner:</label>
              <select id="partner" name="partner">
                <option value="">---</option>
                {% for so in people %}
                  <option value="{{so.id}}"{% if person.partner.id == so.id %} selected{% endif %}>{{so.first_name}} {{so.last_name}}</option>
                {% endfor %}
              </select>
            </div>
        <div class="row">
          <div class="member_detail_section">
            <div class="member_detail_mailing_address">
              <b>Mailing Address</b> <a href="#" id="edit_address_link" class="edit_link">(edit)</a>:
                <div class="">{{person.address.address_1}}</div>
                <div class="">{{person.address.address_2}}</div>
                <div class="">{{person.address.city}}, {{person.address.state}} {{person.address.postal_code}}</div>
            </div>
          </div>
        </div><!-- end of 'row' -->
      </div><!-- end of 'col_rw' -->
      <div class="clearfix"></div>
      <div class="form_fields submit_btn">
        <button type="submit" class="btn btn-secondary" id="save_changes_btn"><b>Save Changes</b></button>&nbsp;&nbsp;&nbsp;
        <a href="{% if querystring == 'edit_member' %}{% url 'members_app:edit_member' membership.id %}{%else%}{% url 'members_app:show_person' person.id %}{%endif%}">cancel</a>
      </div>
      <input type="hidden" id="member_id" name="member_id" value="{{person.id}}">
    </form>
  </div> <!-- end of 'container' -->

  <!-- Button trigger modal -->
  <button style="display: none" id="show_edit_address" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editAddressModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="editAddressModal" tabindex="-1" role="dialog" aria-labelledby="editAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editAddressModal">Edit Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action = "" method = "post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    let edit_address_link = document.querySelector('#edit_address_link');
    let show_edit_address = document.querySelector('#show_edit_address');
    edit_address_link.onclick = function() {
      $('#show_edit_address').click();
    }
  </script>

{% endblock %}
