{% extends 'members/base.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

    <table class="ticket_list">
      <tr>
        <td class="ticket_list_header">Summary</td>
        <td class="ticket_list_header">Description</td>
        <td class="ticket_list_header">Component</td>
        <td class="ticket_list_header">Person</td>
        <td class="ticket_list_header">Membership</td>
        <td class="ticket_list_header">Status</td>
        <td class="ticket_list_header">Assignee</td>
      </tr>
      {% for ticket in tickets %}
      <tr>
        <td class="ticket_list_value">{{ticket.summary}}</td>
        <td class="ticket_list_value">{{ticket.description}}</td>
        <td class="ticket_list_value">{{ticket.component}}</td>
        <td class="ticket_list_value">{{ticket.person}}</td>
        <td class="ticket_list_value">{{ticket.membership}}</td>
        <td class="ticket_list_value">{{ticket.status}}</td>
        <td class="ticket_list_value">{{ticket.assignee}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}
