{% extends 'members/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
  <div id="pagination_top">
      <span class="step-links" id="step_links_top">
        <h2>Login</h2>
        <!-- <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Login</button>
        </form> -->
        <div>
          <h5 id="demo_credentials">Demo credentials: <kbd>demo</kbd> | <kbd>hiking21</kbd></h5>
        </div>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <button type="submit">Login</button>
        </form>
      </span>
  </div>
  <div id="pagination_bottom"></div>
</div>

{% endblock %}
