{% extends 'members/base.html' %}

{% block content %}

  <div class="container">
    <div class="pagination_top" style="background-color: #cde;">
        <span class="step-links" id="step_links_top">
            {% if members.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ members.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ members.number }} of {{ members.paginator.num_pages }}.
            </span>

            {% if members.has_next %}
                <a href="?page={{ members.next_page_number }}">next</a>
                <a href="?page={{ members.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% for member in members %}
    {% spaceless %}
        <div class="tile">
          <div class="col_ro">
            <div class="row">
              <span class="names_title">
                {% firstof member.first_name member.person1.first_name %} {% firstof member.last_name member.person1.last_name %}{% if member.byline or member.person1.byline %}<span class="byline">, {% firstof member.byline member.person1.byline %}</span>{% endif %}
              </span>
            </div>
            {% if view == 'active_members' or view == 'inactive_members' or view == 'show_member' %}
              <div class="row">
                <span class="names_title">{{member.person1.partner.first_name}} {{member.person1.partner.last_name}}
                  <div class="byline">{{member.person1.partner.byline}}</div>
                </span>
              </div>
            {% endif %}
            <div class="row">
              {% if view == 'list_board' %}
                <div>{{member.person1.address.address_1}}</div>
                <div>{{member.person1.address.address_2}}</div>
                <div>{{member.person1.address.city}}, {{member.person1.address.state}} {{member.person1.address.postal_code}}</div>
              {% else %}
                <div>{{member.address.address_1}}</div>
                <div>{{member.address.address_2}}</div>
                <div>{{member.address.city}}, {{member.address.state}} {{member.address.postal_code}}</div>
              {% endif %}
            </div>
            <div class="row">
              <div>{{member.email}}{{member.person1.email}}</div>
              <div>{% if view == 'active_members' or view == 'inactive_members' or view == 'show_member' %}{{member.person1.partner.email}}{% endif %}</div>
            </div>
          </div>
          <div class="col_ro">
            <div class="row">
              <div>{{member.phone_number}}{{member.person1.phone_number}}</div>
              <div>{% if view == 'active_members' or view == 'inactive_members' or view == 'show_member' %}{{member.person1.partner.phone_number}}{% endif %}</div>
              <div>{% if member.title != 'Committee' %}{{member.title}}{% endif %}</div>
              <div>{% if member.committees|length > 0 %}Committee{{member.committees|length|pluralize}}: {{member.committees}}{% endif %}</div>
            </div>
          </div>
          {% url 'members_app:needs_review' as needs_review_url %}
          {% if view == 'list_all' %}
          <span><a href="{% url 'members_app:show_person' member.id %}">show</a></span>
          {% elif view == 'show_person' %}
          <span><a href="{% url 'members_app:edit_person' member.id %}">edit</a></span>
          {% elif view == 'active_members' or view == 'inactive_members' %}
          <span><a href="{% url 'members_app:show_member' member.id %}">show</a></span>
          {% elif view == 'show_member' %}
          <span><a href="{% url 'members_app:edit_member' member.id %}">edit</a></span>
          {% endif %}
        </div>
    {% endspaceless %}
    {% endfor %}
    <div class="pagination_bottom">
        <span class="step-links" id="step_links_bottom">
            {% if members.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ members.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ members.number }} of {{ members.paginator.num_pages }}.
            </span>

            {% if members.has_next %}
                <a href="?page={{ members.next_page_number }}">next</a>
                <a href="?page={{ members.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
  </div>

  <script type="text/javascript">
    {% if message == "changes_saved" %}
      document.getElementById("step_links_top").innerHTML = "Changes Saved";
    {% endif %}
    {% if view == 'search_page' %}
        document.getElementById("step_links_top").innerHTML = "Search Results for: <i><code>{{querystring}}</code></i>";
        document.getElementById("step_links_bottom").innerHTML = "";
        console.log('{{match}}')
    {% elif view == 'show_person' %}
        document.getElementById("step_links_top").innerHTML = "PERSON DETAILS";
        document.getElementById("step_links_bottom").innerHTML = "";
    {% elif view == 'show_member' %}
        document.getElementById("step_links_top").innerHTML = "MEMBER DETAILS";
        document.getElementById("step_links_bottom").innerHTML = "";
    {% elif members.paginator.num_pages == 1 %}
        document.getElementById("step_links_bottom").innerHTML = "";
        {% if view == 'list_board' %}
            document.getElementById("step_links_top").innerHTML = "BOARD MEMBERS";
        {% elif view == 'active_members' %}
            document.getElementById("step_links_top").innerHTML = "ACTIVE MEMBERS";
        {% elif view == 'inactive_members' %}
            document.getElementById("step_links_top").innerHTML = "INACTIVE MEMBERS";
        {% endif %}
    {% endif %}
    document.getElementById("step_links_top").style.fontWeight = "bold";
  </script>

{% endblock %}
