{% extends 'members/base.html' %}

{% block content %}

  <div class="container">
    <div id="show_person_header">
        <span class="step-links" id="step_links_top">
          <h4>{{person.first_name}} {% if person.nickname %}({{person.nickname}}){%endif%} {{person.last_name}}{% if person.byline %}<span class="person_detail_byline">, {{person.byline}}</span>{%endif%}</h4>
        </span>
        <span>
          <a href="{% url 'members_app:edit_person' person.id %}">edit</a>
        </span>
    </div>
    <div class="tile">
      <div class="col_50">

        <div class="row">
          <div class="person_detail_section">
            <div class="person_detail_mailing_address">
              <b>Phone Number</b>:
                <div class="">{{person.phone_number}}</div>
            </div>
          </div>
        </div><!-- end of 'row' -->

        <div class="row">
          <div class="person_detail_section">
            <div class="person_detail_mailing_address">
              <b>Email</b>:
                <div class="">{{person.email}}</div>
            </div>
          </div>
        </div><!-- end of 'row' -->

        <div class="row">
          <div class="person_detail_section">
            <div class="person_detail_mailing_address">
              <b>Membership</b> <a href="{% url 'members_app:edit_member' membership.id %}?from=person" id="edit_membership_link" class="edit_link">(edit)</a>:
                <div class="">{{membership.level}} ({{membership.status}})</div>
                <div class="">{% if membership.expiration %}{{membership.expiration}}{% endif %}</div>
                <div class="">{{membership.notes}}</div>
            </div>
          </div>
        </div><!-- end of 'row' -->

      </div><!-- end of 'col_ro' -->

      <div class="col_50">
        {% if person.partner %}
        <div class="row">
          <div class="person_detail_section">
            <div class="person_detail_partner">
              <b>Partner</b>:
              {{person.partner.first_name}} {% if person.partner.nickname %}({{person.partner.nickname}}){%endif%} {{person.partner.last_name}}{% if person.partner.byline %}<span class="person_detail_byline">, {{person.partner.byline}}</span>{%endif%}
            </div>
          </div>
        </div><!-- end of 'row' -->
        {% endif %}

        <div class="row">
          <div class="person_detail_section">
            <div class="person_detail_mailing_address">
              <b>Mailing Address</b>:
                <div class="">{{person.address.address_1}}</div>
                <div class="">{{person.address.address_2}}</div>
                <div class="">{{person.address.city}}, {{person.address.state}} {{person.address.postal_code}}</div>
            </div>
          </div>
        </div><!-- end of 'row' -->

      </div><!-- end of 'col_ro' -->
    </div><!-- end of 'tile' -->
    {% if board %}
    <div>
      <hr>
      <div class="tile">
        <div class="col_ro">
          <div class="row">
            <div class="person_detail_section">
              <div class="person_detail_board_title" style="text-align: right">
                <b>Board Title</b>:
                  <span class="">{{board.title}}</span>
              </div>
            </div>
          </div><!-- end of 'row' -->
        </div>
        <div class="col_ro">
          <div class="row">
            <div class="person_detail_section">
              <div class="person_detail_cmte_roles">
                <b>Committee Role{{board.committees|length|pluralize}}</b>:
                  <span class="">{{board.committees}}</span>
              </div>
            </div>
          </div><!-- end of 'row' -->
        </div>
      </div>
    </div>
    {% endif %}

  </div><!-- end of 'container' -->

{% endblock %}
