{% extends 'members/base.html' %}

{% block content %}

  <div class="container">
    <div id="show_person_header">
        <span class="step-links" id="step_links_top">
          <h4>{{person.first_name}} {% if person.nickname %}({{person.nickname}}){%endif%} {{person.last_name}}{% if person.byline %}<span class="person_detail_byline">, {{person.byline}}</span>{%endif%}</h4>
        </span>
        <span>
          <a href="{% url 'members_app:edit_person' person.id %}">edit</a>
        </span>
    </div>
    <div class="show_member">
      <div class="col_show">
        <div class="row">
          <div class="person_detail_section">
            <div class="person_detail_mailing_address">
              <b>Phone Number</b>:
                <div>{{person.phone_number}}</div>
            </div>
          </div>
        </div><!-- end of 'row' -->

        <div class="row">
          <div class="person_detail_section">
            <div class="person_detail_mailing_address">
              <b>Email</b>:
                <div>{{person.email}}</div>
            </div>
          </div>
        </div><!-- end of 'row' -->

        <div class="row">
          <div class="person_detail_section">
            <div class="person_detail_mailing_address">
              <b>Membership</b> <a href="{% url 'members_app:edit_member' membership.id %}?from=person" id="edit_membership_link" class="edit_link">(edit)</a>:
                <div>{{membership.level}} ({{membership.status}})</div>
                <div>{% if membership.expiration %}Valid thru {{membership.expiration}}{% endif %}</div>
                <div>{{membership.notes}}</div>
            </div>
          </div>
        </div><!-- end of 'row' -->

      </div><!-- end of 'col_ro' -->

      <div class="col_show">
        {% if membership.person2 %}
          {% if membership.person2 == person %}
          <div class="row">
            <div class="person_detail_section">
              <div class="person_detail_partner">
                <b>Partner</b>:
                {{membership.person1.first_name}} {% if membership.person1.nickname %}({{membership.person1.nickname}}){%endif%} {{membership.person1.last_name}}{% if membership.person1.byline %}<span class="person_detail_byline">, {{membership.person1.byline}}</span>{%endif%}
              </div>
            </div>
          </div>
          {% else %}
          <div class="row">
            <div class="person_detail_section">
              <div class="person_detail_partner">
                <b>Partner</b>:
                {{membership.person2.first_name}} {% if membership.person2.nickname %}({{membership.person2.nickname}}){%endif%} {{membership.person2.last_name}}{% if membership.person2.byline %}<span class="person_detail_byline">, {{membership.person2.byline}}</span>{%endif%}
              </div>
            </div>
          </div>
          {% endif %}
        {% endif %}

        <div class="row">
          <div class="person_detail_section">
            <div class="person_detail_mailing_address">
              <b>Mailing Address</b>:
                <div>{{person.address.address_1}}</div>
                <div>{{person.address.address_2}}</div>
                <div>{{person.address.city}}, {{person.address.state}} {{person.address.postal_code}}</div>
            </div>
          </div>
        </div><!-- end of 'row' -->
        <div class="row">
          <div class="person_detail_section">
            <div class="">
              <b>Notes</b>:
                <div>{{person.notes}}</div>
            </div>
          </div>
        </div><!-- end of 'row' -->
      </div><!-- end of 'col_ro' -->
    </div><!-- end of 'tile' -->
    {% if board %}
    <div class="show_member">
      <div class="col_show2">
        <div class="row">
          <div class="">
            <div class="btn btn-primary btn-sm">
              <b>Board Title</b>:
                <span>{{board.title}}</span>
            </div>
          </div>
        </div><!-- end of 'row' -->
      </div>
      <div class="col_show2">
        {% if board.committees %}
        <div class="row">
          <div class="">
            <div class="btn btn-primary btn-sm">
              <b>Committee Role{{board.committees|length|pluralize}}</b>:
                <span>{{board.committees}}</span>
            </div>
          </div>
        </div><!-- end of 'row' -->
        {% endif %}
        <div class="clearfix">&nbsp;</div>
      </div>
    </div>
    {% endif %}
    <div id="pagination_bottom">
        <span class="step-links" id="step_links_bottom"></span>
    </div>
  </div><!-- end of 'container' -->

{% endblock %}
