{% extends 'members/base.html' %}

{% block content %}

  <div class="container">
    <div style="background-color: rgba(255,255,255,0.8);" id="show_person_header">
        <span class="step-links" id="step_links_top">
          <b>COMMITTEES</b>
        </span>
        <span class="step-links" id="step_links_top2">
          <a href="{% url 'members_app:list_board' %}">Board Members</a>
        </span>
    </div>
    {% for key, values in choices.items %}
      <div class="tile">
        <div class="row">
          <div class="">
            <b>{{key}}</b>: {% for v in values %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{v.first_name}} {{v.last_name}}{% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}

  </div><!-- end of 'container' -->

{% endblock %}
