{% extends 'members/base.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-6">Welcome!</h1>
  <p class="lead">This is a simple application for viewing & editing council people, memberships, board of directors & committee members. It also has a simple ticketing system for managing data corrections & updates.</p>
  <p>Built with Django + Python, Javascript, Jquery, Bootstrap, HTML/CSS</p>
  <hr class="my-4">
  <!-- <p>See:</p> -->
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'members_app:list_active' %}" role="button">Active Members</a> <a class="btn btn-primary btn-lg" href="{% url 'members_app:list_board' %}" role="button">Board Members</a> <a class="btn btn-primary btn-lg" href="{% url 'members_app:list_all' %}" role="button">All People</a> <a class="btn btn-primary btn-lg" href="{% url 'members_app:list_inactive' %}" role="button">Inactive Members</a> <a class="btn btn-primary btn-lg" href="{% url 'members_app:needs_review' %}" role="button">Needs Review</a>
  </p>
</div>

{% endblock %}
